@design-tokens url("./tokens-base.json") format('style-dictionary3');

html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px;
	line-height: 1.6;
	font-style: normal;
	font-weight: 400;
	color: design-token("color.base");
	padding: design-token("color.padding");
}

a {
	color: design-token("color.link.base");
	text-decoration: underline;

	&:focus {
		color: design-token("color.link.focus");
	}
	&:hover {
		color: design-token("color.link.hover");
	}
}
